# Cache
**.egg-info
**logs/
**.ipynb_checkpoints/
**__pycache__/
**mypy_cache/
**pytest_cache/

**_SUCCESS

# VirtualEnv
**_env/

# Data
**workspace/

# Output
**output.xml
**stdout.txt
**submission.json